.boostlinks {
    text-align: center;
    background-color: $dark-violet;
    background-image: url('../imgs/bg-boost-desktop.svg');
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 991px) {
        background-image: url('../imgs/bg-boost-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    h2 {
        color: #fff;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -1px;
    }

    .btn {
        background: #2BD0D0;
        border-radius: 28px;
        max-width: 197px;
        color: #fff;
        margin: 0 auto;
        padding: 15px 0;
    }
}