.stats {
    padding: 204px 165px 120px;
    background-color: #F2F2F2;

    @media only screen and (max-width: 991px) {
        padding: 0px 0px 120px;
    }

    .row {
        bottom: 7px;
        position: relative;
        @media only screen and (max-width: 991px) {
            justify-content: center;
        }

        .intro {
            max-width: 540px;
            margin: 0 auto 56px;
            @media only screen and (max-width: 991px) {
                position: relative;
                top: 68px;
            }

            h2 {
                color: $very-dark-blue;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 48px;
                text-align: center;
                text-transform: capitalize;
                letter-spacing: -1px;
            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                text-align: center;
                letter-spacing: 0.122727px;
            }
        }

        .card-group {
            display: flex;
            gap: 30px;
            z-index: 9;
            padding: 0px;

            @media only screen and (max-width: 991px) {
                flex-direction: column;
                align-items: center;
                position: relative;
                top: 70px;
            }

            .card {
                background: #FFFFFF;
                border: none;
                border-radius: 5px;
                max-width: 350px;

                .card-body {
                    .card-image {
                        max-width: 88px;
                        background-color: $dark-violet;
                        border-radius: 50%;
                        height: 88px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        bottom: 61px;
                        @media only screen and (max-width: 991px) {
                            margin: 0 auto;
                        }

                        img {
                            max-width: 48px;
                            max-height: 48px;
                        }
                    }

                    .card-title {
                        color: $very-dark-blue;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 33px;
                        text-transform: capitalize;
                    }
                }
            }

            .first {
                @media only screen and (max-width: 991px) {
                    margin-top: 90px;
                }
            }

            .second {
                top: 56px;
                @media only screen and (max-width: 991px) {
                    top: 0px;
                    margin: 48px 0;
                }
            }

            .third {
                top: 100px;

                @media only screen and (max-width: 991px) {
                    top: 0px;
                }
            }
        }
    }
}

.blueBar {
    background-color: hsla(180, 66%, 49%, 1);
    position: relative;
    width: 100%;
    height: 8px;
    overflow: hidden;
    bottom: 7em;
    z-index: 1;

    @media only screen and (max-width: 991px) {
        width: 1px;
        height: 1020px;
        top: 309px;
        position: absolute;
    }
}